<div class="">
      <div class="description">
       If this is your first time visiting our LibWallet Register App, please configure this network in your wallet application.
      </div>
      <div class="">
       Network Name: CryptNG-TestNet <br/>
       RPC-URL: https://testnet.cryptng.xyz:8545 <br/>
       Chain-ID 1337 <br/>
       SYMBOL CETH<br/>
       Block-Explorer: https://yitc.ddns.net:4000/<br/>
      </div>
    </div>