{{page-title "dAppLib"}}
<style>
    #instruction{
        color: antiquewhite;
    }

    .blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
</style>
<div class="">
      <div class="description">
       If this is your first time visiting our LibWallet Register App, please configure this network in your wallet application.
      </div>
      <div class="">
       Network Name: CryptNG-TestNet <br/>
       RPC-URL: https://testnet.cryptng.xyz:8545 <br/>
       Chain-ID 1337 <br/>
       SYMBOL CETH<br/>
       Block-Explorer: https://yitc.ddns.net:4000/<br/>
      </div>
    </div>

<div id="instruction" class="blink_me" style="display: none;">
  Please check your MetaMask extension for confirmation.
</div>

    <button id="connectAddNetworkBtn" type="button">Connect & Add Network</button>

<script>
document.getElementById('connectAddNetworkBtn').addEventListener('click', async function() {
    
document.getElementById('instruction').style.display = 'block';
  if (typeof window.ethereum !== 'undefined') {
    try {
      // First ask user to connect their MetaMask
      const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });

      const chainId = '0x539'; // This is 1337 in hexadecimal

      try {
        // Then try to switch to the new network, if it was already added this will work and not throw an error
        await window.ethereum.request({
          method: 'wallet_switchEthereumChain',
          params: [{ chainId }]
        });
        
      } catch (switchError) {
        // If the switch fails (which it will if the network wasn't added yet), add the new network
        if (switchError.code === 4902) {
          await window.ethereum.request({
            method: 'wallet_addEthereumChain',
            params: [
              {
                chainId,
                chainName: 'CryptNG-TestNet',
                nativeCurrency: {
                  name: 'CryptNG Ethereum',
                  symbol: 'CETH',
                  decimals: 18
                },
                rpcUrls: ['https://testnet.cryptng.xyz:8545'],
                blockExplorerUrls: ['https://yitc.ddns.net:4000/']
              }
            ]
          });

          // After adding the network, switch to it
          await window.ethereum.request({
            method: 'wallet_switchEthereumChain',
            params: [{ chainId }]
          });
          
        } else {
          throw switchError;
        }
      }

      console.log('Network switched!');
      // Redirect to the root path of your domain
      window.location.href = "/";

    } catch (error) {
      console.error(error);
    }
  } else {
    console.log('MetaMask is not installed!');
  }
  
});

</script>
