{{page-title "dAppLib"}}
<style>
    #instruction{
        color: antiquewhite;
    }

    .blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

div.content
{
  justify-content: center;
  align-items: center;
  height: 60vh;
}
</style>

<DashBar></DashBar>
<div class="content">

<Card/>
</div>
