<style>
    button#connectAddNetworkBtn
    {
      margin: 2rem;
      border-radius: 5px;
      background-color: cadetblue;
      font-size: 1.2rem;
    }
.card {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
  width: 80%;
  height: 80%;
  padding: 20px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: #006E90;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);

}

div.datas
{
  margin-top: 2rem;
}

.card-title
{
font-size: x-large;
}

.subtitle{
font-size: large;
}
div.card div.carded-content{
font-size: medium;
display: flex;
text-align: center;
    flex-direction: column;
    margin-top: 100px;
}


</style>
<div class="card">
		<div class="card-content">
            
            <div class="card-title">
              Leaf Wallet Register App
            </div>

            
            <div class="subtitle">
             Please connect MetaMask to continue to the application.
            </div>

            <div class="carded-content">
              
<div class="">
      <div class="description">
       If this is your first time visiting our LibWallet Register App, please press the "CONNECT" button on top of the page or inside this window.
      <br/> If the CryptNG Testnet is not added to your wallet automatically, please configure this network in your wallet application.
      </div> 
      <div class="datas">
       Network Name: CryptNG-TestNet <br/>
       RPC-URL: https://testnet.cryptng.xyz:8545 <br/>
       Chain-ID 1337 <br/>
       SYMBOL CETH<br/>
       Block-Explorer: https://yitc.ddns.net:4000/<br/>
      </div>
    </div>

<div id="instruction" class="blink_me" style="display: none;">
  Please check your MetaMask extension for confirmation.
</div>

    <button id="connectAddNetworkBtn" type="button">Connect & Add Network</button>

<script>
document.getElementById('connectAddNetworkBtn').addEventListener('click', async function() {
    
document.getElementById('instruction').style.display = 'block';
  if (typeof window.ethereum !== 'undefined') {
    try {
      // First ask user to connect their MetaMask
      const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });

      const chainId = '0x539'; // This is 1337 in hexadecimal

      try {
        // Then try to switch to the new network, if it was already added this will work and not throw an error
        await window.ethereum.request({
          method: 'wallet_switchEthereumChain',
          params: [{ chainId }]
        });
        
      } catch (switchError) {
        // If the switch fails (which it will if the network wasn't added yet), add the new network
        if (switchError.code === 4902) {
          await window.ethereum.request({
            method: 'wallet_addEthereumChain',
            params: [
              {
                chainId,
                chainName: 'CryptNG-TestNet',
                nativeCurrency: {
                  name: 'CryptNG Ethereum',
                  symbol: 'CETH',
                  decimals: 18
                },
                rpcUrls: ['https://testnet.cryptng.xyz:8545'],
                blockExplorerUrls: ['https://yitc.ddns.net:4000/']
              }
            ]
          });

          // After adding the network, switch to it
          await window.ethereum.request({
            method: 'wallet_switchEthereumChain',
            params: [{ chainId }]
          });
          
        } else {
          throw switchError;
        }
      }

      console.log('Network switched!');
      // Redirect to the root path of your domain
      window.location.href = "/";

    } catch (error) {
      console.error(error);
    }
  } else {
    console.log('MetaMask is not installed!');
  }
  
});

</script>
            </div>
        
</div>
</div>